<!--
Template author: W3layouts (http://w3layouts.com)
This Project Creator: Shamima Sultana (19101007)
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Registration/Login</title>
    <title>Movie Zone</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'home/css/contactstyle.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'home/css/faqstyle.css' %}" type="text/css" media="all" />
    <link href="{% static 'home/css/single.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'home/css/medile.css' %}" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="{% static 'home/css/jquery.slidey.min.css' %}" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="{% static 'home/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="{% static 'home/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all">
    <script src="{% static 'home/js/owl.carousel.js' %}"></script>
    <script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({

		  autoPlay: 3000, //Set AutoPlay to 3 seconds

		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]

		});

	});
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'home/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/easing.js' %}"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <!--[if lt IE 9]>
    <script src="{% static 'home/js/ie-support/html5.js' %}"></script>
    <script src="{% static 'home/js/ie-support/respond.js' %}"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>log</title>	
    <link rel="stylesheet" href="{% static 'reg/assets2/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'reg/assets2/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'reg/assets2/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'reg/assets2/css/styles.css' %}">
</head>

	<body>
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="w3layouts_logo">
					<a href="{% url 'index' %}"><p><img src="{% static 'home/images/1.jpg' %}" alt=" "></p></a>
				</div>
				<div class="w3_search">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search" required="">
						<input type="submit" value="Go">
					</form>
				</div>
				<div class="w3l_sign_in_register">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i> (+880) 18727922</li>
						<li><a href="{% url 'registration' %}" data-toggle="modal">Sign up</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
			<div class="container">
                <div class="page">
                    <section class="login-clean" style="color: var(--bs-light);background: var(--bs-body-bg);">
                        <h1 style="text-align: center;font-weight: bold;color: darkorange;">Sign in</h1>
                        <form method="post">
                            {% csrf_token %}
                            <h2 class="visually-hidden">Login Form</h2>
                            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
                            {% csrf_token %}
                            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                            {% csrf_token %}
                            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                            {% csrf_token %}
                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
                            {% csrf_token %}
                        </form>
                    </section>
                    <script src="{% static 'reg/assets2/bootstrap/js/bootstrap.min.js' %}"></script>



                </div>
            </div>
	

		<!-- //nav -->

			<!-- //general -->
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="col-md-5 w3ls_footer_grid1_left">
					<p>&copy; 2021 Movie Zone. Designed by Shamima Sultana | Created on educational purpose only.</p>
				</div>
				<div class="col-md-7 w3ls_footer_grid1_right">
					<ul>
						<li>
							<a href="genres.html">Movies</a>
						</li>
						<li>
							<a href="faq.html">About Us</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //footer -->
	</body>
</html>